.spacer {
	height: 150px;
}
.grid-images {
	list-style-type: none;
	margin: 0;
}
.grid-image {
	display: inline-block;
	width: 360px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	border: 1px dotted #555;
}
.grid-image-img {
	width: 350px;
	margin: 5px;
}
.reject-images {
	float: right;
	margin: 5px;
	background-color: crimson;
	color: white;
	border: 1px solid crimson;
	border-radius: 6px;
	font-weight: bold;
	padding: 9px 15px 10px;
}
.rejected {
	opacity: .4;
}