.spacer {
	padding-top: 170px;
}
.grid-images {
	list-style-type: none;
	text-align: center;
	margin: 0;
}
.grid-images .grid-image {
	display: inline-block;
	width: 360px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	border: 1px dotted #555;
	margin: 3px 3px 3px 0;
	margin-bottom: 0;
}
.grid-image-img {
	width: 350px;
	margin: 5px;
	margin-bottom: 0;
}
.reject-images {
	margin: 5px;
	background-color: crimson;
	color: white;
	border: 1px solid crimson;
	border-radius: 6px;
	font-weight: bold;
	padding: 9px 15px 10px;
	cursor: pointer;
	position: fixed;
	right: 10px;
	bottom: 10px;
}
.rejected {
	background: maroon;
}
	.rejected img {
		opacity: .4;
	}